#
.vs/
#
AdminModule/bin/Debug/
AdminModule/obj/Debug/
#
EnrolleeModule/bin/Debug/
EnrolleeModule/obj/Debug/
#
ManagerModule/bin/Debug/
ManagerModule/obj/Debug/
#
StudentModule/bin/Debug/
StudentModule/obj/Debug/
#
TeacherModule/bin/Debug/
TeacherModule/obj/Debug/
#
ClassLibrary1/bin/Debug/
ClassLibrary1/obj/Debug/
#
ClassLibrary2/bin/Debug/
ClassLibrary2/obj/Debug/